    <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
    </button>
    <div class="modal-header">
        <h3 class="modal-title">Edit product [ID: {{product.id}}]</h3>
    </div>
    <div class="modal-body">
        <form name="product_form" class="form-horizontal" role="form" novalidate>
            <form-element label="Specific ID" mod="product">
                <input type="text" class="form-control" name="specific_id" ng-model="product.specific_id" ng-disabled="true" focus/>
            </form-element>
            <form-element label="Brg Basic ID" mod="product"> --Be Carefull with this
            	<select  style="color:black" ng-model="product.bearing_basic_id"> 
            	  <option></option>
            	  <option ng-repeat="option in basicbrglist | orderBy:'construction + base_pn'" value="{{option.basic_id}}">{{option.construction}} {{option.base_pn}} ({{option.basic_id}})</option> 
		</select>
            </form-element>
            
            
            
            
            <!--<form-element label="Bearing Basic ID" mod="product">
                <input type="text" class="form-control" name="position" placeholder="Basic Bearing ID#" ng-model="product.bearing_basic_id" focus/>
            </form-element>-->
            <form-element label="Specific PN" mod="product">
            <input type="text" class="form-control" name="specifc_pn" placeholder="e.g. NU 2326 ECML/L4BC3" ng-model="product.specific_pn" focus/>
            </form-element>
            <form-element label="Mfg ID#" mod="product">
                <input type="text" name="mfg" class="form-control" placeholder="1 (SKF), 2 (NSK), 3 (Schaeffler), 4 (Timken), 5 (Koyo), 6 (NTN), 7 (Misc) " ng-model="product.mfg"/>
            </form-element>
	    <form-element label="ID" mod="product">
                <input type="text" name="id" class="form-control" placeholder="inner diameter" ng-model="product.id"/>
            </form-element>
            <form-element label="OD" mod="product">
                <input type="text" name="od" class="form-control" placeholder="outer diameter" ng-model="product.od"/>
            </form-element>
            <form-element label="Width" mod="product">
                <input type="text" name="width" class="form-control" placeholder="width" ng-model="product.width"/>
            </form-element>
            <form-element label="Clearance" mod="product">
                <input type="text" name="clearance" class="form-control" placeholder="" ng-model="product.clearance"/>
            </form-element>
            <form-element label="Cage" mod="product">
            	<input type="text" name="cage" placeholder="Brass / Steel / None" ng-model="product.cage"/> 
            </form-element>
            <form-element label="Inner Ring" mod="product">
            	<input type="text" name="inner_ring" placeholder="Black Oxide, Steel, SuperTough, Bainite, Case" ng-model="product.inner_ring"/> 
            </form-element>
            <form-element label="Outer Ring" mod="product">
            	<input type="text" name="outer_ring" placeholder="Black Oxide, Steel, SuperTough, Bainite, Case" ng-model="product.outer_ring"/>
            </form-element>
            <form-element label="Rollers" mod="product">
            	<input type="text" name="rollers" placeholder="Black Oxide, Steel, DLC" ng-model="product.rollers"/> <!-- add pull down here-->
            </form-element>
            <form-element label="Notes" mod="product">
            	<textarea class="form-control" name="" placeholder="Notes" ng-model="product.notes"> </textarea><!-- add pull down here-->
            </form-element>


            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()" ng-if="!submitted"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                        <button ng-click="saveProduct(product);"
                                ng-disabled="product_form.$invalid || enableUpdate"
                                ng-if="!submitted"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>{{buttonText}}
                        </button>
                        <p ng-if="submitted" ><i style="color:white" class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</p>
                    </div>
                </form-element>
            </div>
        </form>
    </div>