<h4 class="blog-post-title">Bearing Specifics</h4>
<hr/>
<button type="button" class="btn btn-danger fa fa-plus" ng-click="open(product);">&nbsp;Add New Specific Bearing Record</button>

<div class="table-responsive">
<div class="panel panel-primary">
  <div class="panel-heading">
      
	    Bearing Basic ID: <span class="input-icon">
	        <input placeholder="Filter by bearing basic id ..." class="nav-search-input" ng-model="filterProduct" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:100px;" focus>
	        <i class="search-icon fa fa-search nav-search-icon"></i>
	    </span>
          
          
      
      <div class="sw-search" >
            <div class="nav-search" id="nav-search">
            	    Filter1: <span class="input-icon">
	        	<input placeholder="Filter in list ..." class="nav-search-input" ng-model="filterProduct1" ng-change="resetLimit();" autocomplete="off" type="text" style="width:200px;" focus>
	        	<i class="search-icon fa fa-search nav-search-icon"></i>
	    	    </span>
            
                    Filter2: <span class="input-icon"> <!-- could do this, but it doesn't gray it out so you don't know it's disabled ng-disabled="!filterProduct1"-->
                        <input placeholder="Filter in list..." class="nav-search-input" ng-model="filterProduct2" ng-change="resetLimit();" autocomplete="off" type="text" style="width:200px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
            </div>
            
        </div>
    </div>
  <div class="panel-body">
    <table class="table table-striped">
    <tr ng-show="products.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
    <tr ng-hide="products.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
    
    <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>

<!--This is where the structure of each row is built 
Revise column header in productCtrl.js
revise query in index.php-->

<!-- TODO add switcher for what column to sort by.... 
maybe radio button.. maybe click on column name and change variable, then feed variable to orderBy command...
After adding additional filter box and basic brg id filter box, maybe I don't need column sort any more?-->

<!-- need to figure out how to do bearing_basic_id filter so that "1" doesn't return 10, 11, etc...-->
    <tr ng-repeat="c in products | filter:filterProduct1 | filter:filterProduct2 | filter:{bearing_basic_id:filterProduct} |orderBy:'bearing_basic_id'" id="{{c.bearing_basic_id}}"> <!--animate-on-change='c.packing + c.stock + c.price + c.description' ng-animate=" 'animate'" -->
        <td>{{c.bearing_basic_id}}</td><td>{{c.specific_id}}</td><td>{{c.specific_pn}}</td><td>{{c.mfg}}</td><td>{{c.id}}</td><td>{{c.od}}</td><td>{{c.width}}</td><td>{{c.clearance}}</td><td>{{c.cage}}</td><td>{{c.inner_ring}}</td><td>{{c.outer_ring}}</td><td>{{c.rollers}}</td><td>{{c.notes}}</td>
        
        <!-- TODO add edit/copy/delete buttons to this column for each record -->
        <td ng-if="showActions" style="width:100px">
        	<div class="btn-group">
              		<button type="button" class="btn-xs btn-default fa fa-edit" uib-tooltip="Edit" ng-click="open(c);"></button>
              		<button type="button" class="btn-xs btn-danger fa fa-trash-o" uib-tooltip="Delete" ng-click="deleteProduct(c);"></button>
              		<button type="button" class="btn-xs btn-default fa fa-tags"uib-tooltip="Copy" ng-click="copyProduct(c);"></button> 
        	</div>
        
        </td>
       <!-- <td>
            <button class="btn" ng-class="{Active:'btn-success', Inactive:''}[c.status]" ng-click="changeProductStatus(c);">{{c.status}}</button>
        </td> -->
        <!--<td style="width:100px">
            <div class="btn-group">
              <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deleteProduct(c);"></button>
            </div>
        </td>-->
    </tr>
    </table>
</div>
</div>
</div>
              