    <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
    </button>
    <div class="modal-header">
        <h3 class="modal-title">Edit product [ID: {{product.id}}]</h3>
    </div>
    <div class="modal-body">
        <form name="product_form" class="form-horizontal" role="form" novalidate>
            <!--<form-element label="Specific ID" mod="product">
                <input type="text" class="form-control" name="specific_id" placeholder="Specific ID#" ng-model="product.specific_id" focus/>
            </form-element>-->
            <form-element label="ID" mod="product">
                <input type="text" class="form-control" name="id" placeholder="" ng-model="product.id" ng-disabled=true focus/>
            </form-element>
            <form-element label="Mfg" mod="product">
            <input type="text" class="form-control" name="mfg" tooltip="1=Bosch, 2=Echesa, 3=Eikhoff, 4=GETS, 5=Hansen, 6=Ishibashi, 7=Jake, 8=Moventas, 9=Nanjing, 10=Winergy, 11=Zond" placeholder="1=Bosch, 2=Echesa, 3=Eikhoff, 4=GETS, 5=Hansen, 6=Ishibashi, 7=Jake, 8=Moventas, 9=Nanjing, 10=Winergy, 11=Zond" ng-model="product.mfg" focus/>
            </form-element>
            <form-element label="Model" mod="product">
                <input type="text" name="model" class="form-control" placeholder="" ng-model="product.model"/>
            </form-element>
            <form-element label="Tower" mod="product">
                <input type="text" name="tower" class="form-control" placeholder="" ng-model="product.tower"/>
            </form-element>
	    


            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                        <button ng-click="saveProduct(product);"
                                ng-disabled="product_form.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>{{buttonText}}
                        </button>
                    </div>
                </form-element>
            </div>
        </form>
    </div>