<h4 class="blog-post-title">Corys Wind Pages</h4>
<hr/>

<label> Edit column
    <input type="checkbox" ng-model="showActions">
</label>
<br>

<label> Show bearing PN List
    <input type="checkbox" ng-model="showPartNumbers" ng-change="changeShowPn()"> <!--ng-change="changeShowPn()" -->
</label>
<br>

<label ng-show="showPartNumbers" style="padding-left:10px;"> Show SKF:
    <input type="checkbox" ng-model="showSKF" ng-change="output()">
</label>
<label ng-show="showPartNumbers" style="padding-left:10px;"> Show NSK:
    <input type="checkbox" ng-model="showNSK">
</label>
<label ng-show="showPartNumbers" style="padding-left:10px;"> Show FAG:
    <input type="checkbox" ng-model="showFAG">
</label>
<label ng-show="showPartNumbers" style="padding-left:10px;"> Show Timken:
    <input type="checkbox" ng-model="showTimken">
</label>
<br>
<label ng-show="showPartNumbers" style="padding-left:10px;"> Show Koyo:
    <input type="checkbox" ng-model="showKoyo">
</label>
<label ng-show="showPartNumbers" style="padding-left:10px;"> Show NTN:
    <input type="checkbox" ng-model="showNTN">
</label>
<label ng-show="showPartNumbers" style="padding-left:10px;"> Show Other:
    <input type="checkbox" ng-model="showOther">
</label>
<br><br>

<!-- TODO make this add new item button work, and probably preload the information for the gearbox I'm currently viewing, also validate form when completed before submitted-->
<button type="button" class="btn btn-danger fa fa-plus" ng-click="open(product);" style="font-size:80%">&nbsp;Add item to this gearbox</button> <!-- -->



<div class="table-responsive">
    <div class="panel panel-primary">
      <div class="panel-heading">
             <h3 ng-if="urlModel">Gearbox : {{urlMfg}} {{urlModel}}</h3> 

            <span class="input-icon"> 

                    <i class="search-icon fa fa-search nav-search-icon"></i>
                </span> 

          <div class="sw-search" ng-if="!urlModel">

                <div class="nav-search" id="nav-search">
                        Filter: <span class="input-icon">
                            <input placeholder="Filter products list ..." class="nav-search-input" ng-model="filterProduct2" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:200px;" focus>
                            <i class="search-icon fa fa-search nav-search-icon"></i>
                        </span>
                        <br>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr ng-show="products.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
                <tr ng-hide="products.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
		<!--  -->
                <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>

		<!-- display each record in product array, this is the array for the gearbox of which page the user is on -->
                <tr ng-repeat="c in products | filter:filterProduct2 | orderBy:'pos_id'" > 
		    <!-- display bearing basic part number and position in this gearbox -->
                    <td>{{c.position}}</td><td style="white-space: nowrap">{{c.bearing_basic_pn}}</td><td>{{c.rec_clearance}}</td><td>{{c.qty_per_gb}}</td>
		    <!-- SKF Block for specific part number list -->
                    <td ng-show="showSKF">
                        <table>
                            <tr>
                                <td style="font-size:0.9em; font-style:italic;">SKF:</td>
                            </tr>
                            <tr ng-repeat="d in bearingSpecifics | filter:{ mfg: '1' }:true | filter:{bearing_basic_id: c.bearing_basic_id}:true" > <!-- 1 is SKF --> 
                                <td uib-tooltip-template="'myTooltipTemplate.html'" tooltip-popup-delay="1000" style="white-space: nowrap; padding-right:10px; font-size: 0.8em;">{{d.specific_pn}}</td> 
                            </tr>
                        </table>
                    </td>	
                    <td ng-if="showNSK">
                        <table>
                            <tr>
                                <td style="font-size:0.9em; font-style:italic;">NSK:</td>
                            </tr>
                             <tr ng-repeat="d in bearingSpecifics | filter:{ mfg: '2' }:true | filter:{ bearing_basic_id: c.bearing_basic_id }:true" > <!-- 2 is NSK --> 
                                <td uib-tooltip-template="'myTooltipTemplate.html'" tooltip-popup-delay="1000" style="white-space: nowrap; padding-right:10px; font-size: 0.8em;">{{d.specific_pn}}</td> 
                            </tr>
                        </table>
                    </td>
                    <td ng-if="showFAG">
                        <table>
                            <tr>
                                <td style="font-size:0.9em; font-style:italic;">FAG:</td>
                            </tr>
                            <tr ng-repeat="d in bearingSpecifics | filter:{ mfg: '3' }:true | filter:{ bearing_basic_id: c.bearing_basic_id }:true" > <!-- 3 is FAG -->
                            <!-- {{c.position}} works here to pull in variables from outside table-->
                                <td uib-tooltip-template="'myTooltipTemplate.html'" tooltip-popup-delay="1000" style="white-space: nowrap; padding-right:10px; font-size: 0.8em;">{{d.specific_pn}}</td> 
                            </tr>
                        </table>
                    </td>
                    <td ng-if="showTimken">
                        <table>
                            <tr>
                                <td style="font-size:0.9em; font-style:italic;">Timken:</td>
                            </tr>
                            <tr ng-repeat="d in bearingSpecifics | filter:{ mfg: '4' }:true | filter:{ bearing_basic_id: c.bearing_basic_id }:true" > <!-- 4 is Timken -->  
                                <td uib-tooltip-template="'myTooltipTemplate.html'" tooltip-popup-delay="1000" style="white-space: nowrap; padding-right:10px; font-size: 0.8em;">{{d.specific_pn}}</td> 
                            </tr>
                        </table>
                    </td>
                    <td ng-if="showKoyo">
                        <table>
                            <tr>
                                <td style="font-size:0.9em; font-style:italic;">Koyo:</td>
                            </tr>
                            <tr ng-repeat="d in bearingSpecifics | filter:{ mfg: '5' }:true | filter:{ bearing_basic_id: c.bearing_basic_id }:true" > <!-- 5 is Koyo -->
                                <td uib-tooltip-template="'myTooltipTemplate.html'" tooltip-popup-delay="1000" style="white-space: nowrap; padding-right:10px; font-size: 0.8em;">{{d.specific_pn}}</td> 
                            </tr>
                        </table>
                    </td>
                    <td ng-if="showNTN">
                        <table>
                            <tr>
                                <td style="font-size:0.9em; font-style:italic;">NTN:</td>
                            </tr>
                            <tr ng-repeat="d in bearingSpecifics | filter:{ mfg: '6' }:true | filter:{ bearing_basic_id: c.bearing_basic_id }:true" > <!-- 6 is NTN -->
                                <td uib-tooltip-template="'myTooltipTemplate.html'" tooltip-popup-delay="1000" style="white-space: nowrap; padding-right:10px; font-size: 0.8em;">{{d.specific_pn}}</td> 
                            </tr>
                        </table>
                    </td>
                    <td ng-if="showOther">
                        <table>
                            <tr>
                                <td style="font-size:0.9em; font-style:italic;">Other:</td>
                            </tr>
                            <tr ng-repeat="d in bearingSpecifics | filter:{ mfg: '7' }:true | filter:{ bearing_basic_id: c.bearing_basic_id }:true" > <!-- 7 is Other -->
                               <td uib-tooltip-template="'myTooltipTemplate.html'" tooltip-popup-delay="1000" style="white-space: nowrap; padding-right:10px; font-size: 0.8em;">{{d.specific_pn}}</td> 
                            </tr>
                        </table>
                    </td>
                    <td>{{c.notes}}</td>

                   <!-- edit/copy/delete buttons for each row -->
                    <td ng-if="showActions" style="width:100px">
                        <div class="btn-group">
                            <button type="button" class="btn-xs btn-default fa fa-edit" uib-tooltip="Edit" ng-click="open(c);"></button>
                            <button type="button" class="btn-xs btn-danger fa fa-trash-o" uib-tooltip="Delete" ng-click="deleteProduct(c);"></button>
                            <button type="button" class="btn-xs btn-default fa fa-tags" uib-tooltip="Copy" ></button> <!-- need to make this copy function ng-click="deleteProduct(c);"-->
                        </div>
                    </td>


                </tr>
            </table>
        </div>
    </div>  
    
    
    <!-- This is the popup template for the specific part numbers listed under each mfg. -->
    <script type="text/ng-template" id="myTooltipTemplate.html">
      <div>
      <style>  <!-- These 2 together override Bootstraps default max width of 200px on tooltips -->
      	div.tooltip {
	    width: 270px;
	}
	
	div.tooltip-inner {
	    max-width: 280px;
	}
      </style>
      	<table>
      	    <tr> <td style="white-space:nowrap;text-align:right;"> <strong>Specific PN:</strong> </td> <td style="white-space:nowrap; padding-left:5px;">{{d.specific_pn}} </td> </tr> <br>
      	    <tr> <td style="white-space:nowrap;text-align:right;"> <strong>Specific ID:</strong> </td> <td style="white-space:nowrap; padding-left:5px;">{{d.specific_id}} </td> </tr> <br>
	    <tr> <td style="white-space:nowrap;text-align:right;"> <strong>Basic Brg ID:</strong> </td> <td style="white-space:nowrap; padding-left:5px;">{{d.bearing_basic_id}} </td> </tr> <br> 
	    <tr> <td style="white-space:nowrap;text-align:right;"> <strong>ID:</strong> </td> <td style="white-space:nowrap; padding-left:5px;">{{d.id}} </td> </tr> <br> 
	    <tr> <td style="white-space:nowrap;text-align:right;"> <strong>OD:</strong> </td> <td style="white-space:nowrap; padding-left:5px;">{{d.od}} </td> </tr> <br> 
	    <tr> <td style="white-space:nowrap;text-align:right;"> <strong>Width:</strong> </td> <td style="white-space:nowrap; padding-left:5px;">{{d.width}} </td> </tr> <br> 
	    <tr> <td style="white-space:nowrap;text-align:right;"> <strong>Clearance:</strong> </td> <td style="white-space:nowrap; padding-left:5px;">{{d.clearance}} </td> </tr> <br> 
	    <tr> <td style="white-space:nowrap;text-align:right;"> <strong>Cage:</strong> </td> <td style="white-space:nowrap; padding-left:5px;">{{d.cage}} </td> </tr> <br> 
	    <tr> <td style="white-space:nowrap;text-align:right;"> <strong>Inner Ring:</strong> </td style="white-space:nowrap; padding-left:5px;"> <td>{{d.inner_ring}} </td> </tr> <br> 
	    <tr> <td style="white-space:nowrap;text-align:right;"> <strong>Outer Ring:</strong> </td style="white-space:nowrap; padding-left:5px;"> <td>{{d.outer_ring}} </td> </tr> <br> 
	    <tr> <td style="white-space:nowrap;text-align:right;"> <strong>Rollers:</strong> </td> <td style="white-space:nowrap; padding-left:5px;">{{d.rollers}} </td> </tr> <br> 
	    <tr> <td style="white-space:nowrap;text-align:right;"> <strong>Notes:</strong> </td> <td style="padding-left:5px;">{{d.notes}} </td> </tr>
    	</table>
     </div>
    </script>
</div>
            