
<div>
	 <span class="btn btn-small btn-info">
		<i ng-if="!showText" style="font-size:1.6em;" class="fa fa-plus" ng-click="switchShowText()"> {{urlModel}} Notes</i>
		<i ng-if="showText" style="font-size:1.6em;" class="fa fa-minus" ng-click="switchShowText()"> {{urlModel}} Notes</i>
	</span>
	<br ng-if="showText" > 
	<gearbox-text ng-show="showText" model={{urlModel}} mfg={{urlMfg}}> </gearbox-text> 
</div>


<div>
	<!--<i class="glyphicon" style="font-size:1.5em;" ng-class="{'glyphicon-minus' : showBearings, 'glyphicon-plus' : !showBearings}" ng-click="switchShowBearings()">{{urlModel}} Bearing List</i> <br>-->

	<span class="btn btn-small btn-info">
		<i ng-if="!showBearings" style="font-size:1.6em;" class="fa fa-plus" ng-click="switchShowBearings()"> {{urlModel}} Bearing List</i>
		<i ng-if="showBearings" style="font-size:1.6em;" class="fa fa-minus" ng-click="switchShowBearings()"> {{urlModel}} Bearing List</i>
	</span> 
	<br ng-if="showBearings" >
	<gearbox-bearings  ng-show="showBearings" model={{urlModel}}> </gearbox-bearings> 
</div>

<div>
	<span class="btn btn-small btn-info">
		<i ng-if="!showSeals" style="font-size:1.6em;" class="fa fa-plus" ng-click="switchShowSeals()"> {{urlModel}} Seal List</i>
		<i ng-if="showSeals" style="font-size:1.6em;" class="fa fa-minus" ng-click="switchShowSeals()"> {{urlModel}} Seal List</i>
	</span> 
	<br ng-if="showSeals" >
	<gearbox-seals ng-show="showSeals"  model={{urlModel}}> </gearbox-seals>
</div>	
<br>