<img src="/img/soultion holder.jpg" style="max-width:300px;"></img><a href="https://drive.google.com/file/d/0B_CM5N6AejZ9bHdfUFJEdzF5OUU/view?usp=sharing" target="_blank">Solution Flyer</a><br>
<img src="/img/Cast holder.jpg" style="max-width:300px;"></img><a href="https://drive.google.com/file/d/0B_CM5N6AejZ9TFRyeVhILTRQOU0/view?usp=sharing" target="_blank">Morgan vs Mersen cast holder</a><br>
<img src="/img/holder problems.jpg" style="max-width:300px;"></img><a href="https://drive.google.com/file/d/0B_CM5N6AejZ9bTBxTVFOOHRoeE0/view?usp=sharing" target="_blank">Holder problems and solutions</a><br>

<img src="/img/Hitachi brushes and slip rings.jpg"></img>

