<h4 class="blog-post-title">Home</h4>
<hr/>
<!--<button type="button" class="btn btn-danger fa fa-plus" ng-click="open(product);">&nbsp;Add New Bearing</button>-->

<div class="table-responsive">
<div class="panel panel-primary">
<p style="font-size:150%"> This is the temporary landing page for my Wind information database</p>

 <!-- <div class="panel-heading">Home Page
      
    </div>-->
 
 <!-- <div class="panel-body">
    <a href="http://wind.coryscustomparts.com/#/bearing_specifics">Bearing Specifics</a><br>
      <a href="http://wind.coryscustomparts.com/#/bearing_basic">Bearing Basic</a><br>
      <a href="http://wind.coryscustomparts.com/#/gearbox_basic">Gearbox Basic</a><br>
      <a href="http://wind.coryscustomparts.com/#/gearbox_specifics">Gearbox Specifics</a><br>
      <a href="http://wind.coryscustomparts.com/#/gearbox_specifics_short">Gearbox Specifics Short</a><br>
      <a href="http://wind.coryscustomparts.com/#/gearbox_specifics2">Gearbox Specifics 2 -Remap Database </a><br>
      
  </div> -->
</div>
</div>
              