<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Cory Mittleider">
        <!--This makes Google not index the site or follow the links on this site -->
    <meta name="robots" content="noindex,nofollow">

    <title>Cory's Wind Pages</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="css/custom.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" ng-controller="homePageCtrl">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Menu
                    </a>
                 </li>      
                       <!-- This shows a loading wheel until the gbModel Array is populated-->
			<p ng-hide="gbModelArray.length>-1" ><i style="color:white" class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</p>
                
                <li>  
                	<a  ng-click="toggleGbMfgList()" > Gearbox </a>
                    <!--<a href="#/gearbox_basic" ng-click="showHideGearbox()">Gearbox</a> --> 
                    
                <!--This establishes the list of gearbox mfg's-->
                <!--When gb mfg name is clicked the id is given to the controler to expand/collapse the model list below it.-->
                <!--ng-if removes this list from the DOM when false which is better for performance. -->
                <ul ng-if="showGbMfgList">
                            <li ng-repeat="m in concatGbArray " style="color:white"> <!--ng-click="clicky()" ng-click="getGearboxModels([m.id])" -->
                    		<a  ng-click="showGbModels([m.id])">{{m.name}}</a> <!--href="#/gearbox/mfg"  -->
                    		<!--This makes every gb mfg name a hyper link, TODO need to figure out dynamic routing to use this in context /gearbox/:mfg/:model -->
                		<!--This establishes the list of gearbox model per gearbox mfg-->
                		<ul> 
                			<!--this repeats a list item for of the gearboxes in the gbModelArray for each GB MFG listed above
                			          orderBy sorts models into alphabetical order
                			          filter mfg: m.id only shows li elements who's mfg variable for the specific model record match the m.id value of the gbMfg li we're currently on
                			          filter view: true only shows li elements who have a view element that says true, this is used to toggle which mfg model list is displayed on the page
                			                  by changing this value when a different mfg is selected (see showGbModels function) 
                			          the :true at the end makes sure that the filter paramters are evaluated strictly (ie === type evaluation)-->
                			<li ng-repeat="mo in gbModelArray | orderBy:'model' | filter:{ mfg: m.id, view: true }:true" style="color:white" ng-click="clicky(this)" >  <!--ng-if="[mo.view]"-->
                			<!--dynamic url built by model loaded.  When selected will take to logical subpage ..gearbox/gbmfg/gbmodel and show bearing list -->
                			<a ng-href="#/gearbox/{{m.name}}/{{mo.model}}" > {{mo.model}}</a>  <!--{{mo.id}} -->
                			</li>
                		</ul> 
                	</li>
                </ul>
                
                <li>
                    <a href="#">Generators</a>
                </li>
                <li>
                    <a href="#">Turbines</a>
                </li>
                <li>
                    <a href="#">Customers</a>
                </li>
                <li>
                    <a ng-click="toggleMasterEdit()">Master Edit</a>
                </li>
                <ul ng-if="showMasterEdit">
                	<li style="color:white"> <a href="#/bearing_basic">Bearing Basic</a></li>
                	<li style="color:white"> <a href="#/bearing_specifics">Bearing Specific</a></li>
                	<li style="color:white"> <a href="#/gearbox_basic">Gearbox Basic</a></li>
                	<li style="color:white"> <a href="#/gearbox_specifics">Gearbox Specific</a></li>
                	<li style="color:white"> <a href="#/"></a></li>
                </ul>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <i href="#menu-toggle" class="fa fa-bars" id="menu-toggle" style="background-color:white; border:1px solid; border-radius:5px; padding:7px;"></i> <!--class = "navbar-toggle"  class="btn btn-default"  -->
                
                <div class="row" >
                    
                    <div class="col-lg-12">
                        <h1>Wind Home Page</h1> <br>
                        	
                       
                        <!--<div class="container">-->
<!--                            <div class="page-content">-->
                              <div ng-view="" id="ng-view"></div>
<!--                            </div>-->
                        <!--</div>-->  
                        <p style="font-size:150%"> This is the temporary landing page for my Wind information database</p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <!--<script src="js/jquery.js"></script>-->
    <script src="js/angular.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.2.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    
    
    <!-- AngularJS custom codes -->
    <script src="app/app.js"></script>
    <script src="app/data.js"></script>
    <script src="app/directives.js"></script>
    <script src="app/homePageCtrl.js"></script>
    <script src="app/bearingSpecificsCtrl.js"></script>
    <script src="app/bearingBasicCtrl.js"></script>
    <script src="app/gearboxBasicCtrl.js"></script>
    <script src="app/gearboxSpecificsCtrl.js"></script>
    <script src="app/gearboxSpecificsCtrl2.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/underscore.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>